/*! aRund v.1.7.3 - 2017-01-20 */

.ao-block {
  position: relative;
  z-index: 1;
  color: #666;
}
.ao-block,
.ao-block:before,
.ao-block:after,
.ao-block *,
.ao-block *:before,
.ao-block *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ao-bg {
  background-color: #fff;
}
.ao-bg-alt {
  background-color: #333;
}
.ao-bg-darken {
  background-color: #eee;
}
.ao-bg-lighten {
  background-color: #f3f3f3;
}
.ao-scheme-bg {
  background-color: #ff8b00;
}
.ao-text-default {
  color: #666;
}
.ao-text-muted {
  color: #858585;
}
.ao-text-darken {
  color: #c26a00;
}
.ao-text-lighten {
  color: #ffa73d;
}
.ao-text-colored {
  color: #ff8b00;
}
.ao-content,
.ao-footer {
  position: relative;
}
.ao-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ao-feature-block {
  display: inline-block;
}
.ao-feature-block .ao-icon,
.ao-feature-block .ao-title,
.ao-feature-block .ao-text {
  display: block;
}
.ao-feature-block .ao-icon {
  font-size: 52px;
}
.ao-feature-block .ao-icon + * {
  margin-top: 8px;
}
.ao-feature-block .ao-title {
  font-size: 24px;
}
.ao-feature-block .ao-title + * {
  margin-top: 5px;
}
.ao-feature-block .ao-text {
  font-size: 16px;
}
