/*! aRund v.1.7.5 - 2017-04-02 */

.ao-text-white {
  color: #fff;
}
.ao-bg-white {
  background-color: #fff;
}
.ao-border-white {
  border-color: #fff;
}
.ao-text-white-darken {
  color: #e0e0e0;
}
.ao-bg-white-darken {
  background-color: #e0e0e0;
}
.ao-border-white-darken {
  border-color: #e0e0e0;
}
.ao-white-link {
  color: #fff;
}
.ao-white-link:hover,
.ao-white-link:focus {
  color: #e0e0e0;
}
.ao-bg-transparent {
  background-color: transparent;
}
.ao-btn-blue:after,
.ao-btn-blue.ao-btn-bb:hover:after,
.ao-btn-blue.ao-btn-bb:focus:after,
.ao-btn-blue.ao-btn-wbb:hover:after,
.ao-btn-blue.ao-btn-wbb:focus:after,
.ao-btn-blue.ao-btn-fbg:hover:after,
.ao-btn-blue.ao-btn-fbg:focus:after {
  background-color: #0071ae;
}
.ao-btn-blue:hover:after,
.ao-btn-blue.ao-btn-w:hover:after,
.ao-btn-blue:focus:after,
.ao-btn-blue.ao-btn-w:focus:after,
.ao-btn-blue:active:after,
.ao-btn-blue.ao-btn-w:active:after {
  background-color: #005785;
}
.ao-btn-blue.ao-btn-w,
.ao-btn-blue.ao-btn-wfb,
.ao-btn-blue.ao-btn-bb,
.ao-btn-blue.ao-btn-fbg,
.ao-btn-blue.ao-btn-wfbg:hover,
.ao-btn-blue.ao-btn-wfbg:focus,
.ao-btn-blue.ao-btn-bo,
.ao-blue-link {
  color: #0071ae;
}
.ao-btn-blue.ao-btn-b:after,
.ao-btn-blue.ao-btn-bb:hover:after,
.ao-btn-blue.ao-btn-bb:focus:after,
.ao-btn-blue.ao-btn-bo:hover:after,
.ao-btn-blue.ao-btn-bo:focus:after,
.ao-btn-blue.ao-btn-wbo:hover:after,
.ao-btn-blue.ao-btn-wbo:focus:after {
  border-color: #29b4ff;
}
.ao-btn-blue.ao-btn-bo:hover,
.ao-btn-blue.ao-btn-bo:focus,
.ao-btn-blue.ao-btn-wbo:hover,
.ao-btn-blue.ao-btn-wbo:focus {
  color: #29b4ff;
}
.ao-btn-blue-lighten:after,
.ao-btn-blue-lighten.ao-btn-bb:hover:after,
.ao-btn-blue-lighten.ao-btn-bb:focus:after,
.ao-btn-blue-lighten.ao-btn-wbb:hover:after,
.ao-btn-blue-lighten.ao-btn-wbb:focus:after,
.ao-btn-blue-lighten.ao-btn-fbg:hover:after,
.ao-btn-blue-lighten.ao-btn-fbg:focus:after {
  background-color: #0099eb;
}
.ao-btn-blue-lighten:hover:after,
.ao-btn-blue-lighten.ao-btn-w:hover:after,
.ao-btn-blue-lighten:focus:after,
.ao-btn-blue-lighten.ao-btn-w:focus:after,
.ao-btn-blue-lighten:active:after,
.ao-btn-blue-lighten.ao-btn-w:active:after {
  background-color: #007ec2;
}
.ao-btn-blue-lighten.ao-btn-w,
.ao-btn-blue-lighten.ao-btn-wfb,
.ao-btn-blue-lighten.ao-btn-bb,
.ao-btn-blue-lighten.ao-btn-fbg,
.ao-btn-blue-lighten.ao-btn-wfbg:hover,
.ao-btn-blue-lighten.ao-btn-wfbg:focus,
.ao-btn-blue-lighten.ao-btn-bo {
  color: #0099eb;
}
.ao-btn-blue-lighten.ao-btn-b:after,
.ao-btn-blue-lighten.ao-btn-bb:hover:after,
.ao-btn-blue-lighten.ao-btn-bb:focus:after,
.ao-btn-blue-lighten.ao-btn-bo:hover:after,
.ao-btn-blue-lighten.ao-btn-bo:focus:after,
.ao-btn-blue-lighten.ao-btn-wbo:hover:after,
.ao-btn-blue-lighten.ao-btn-wbo:focus:after {
  border-color: #66caff;
}
.ao-btn-blue-lighten.ao-btn-bo:hover,
.ao-btn-blue-lighten.ao-btn-bo:focus,
.ao-btn-blue-lighten.ao-btn-wbo:hover,
.ao-btn-blue-lighten.ao-btn-wbo:focus {
  color: #66caff;
}
.ao-btn-blue-darken:after,
.ao-btn-blue-darken.ao-btn-bb:hover:after,
.ao-btn-blue-darken.ao-btn-bb:focus:after,
.ao-btn-blue-darken.ao-btn-wbb:hover:after,
.ao-btn-blue-darken.ao-btn-wbb:focus:after,
.ao-btn-blue-darken.ao-btn-fbg:hover:after,
.ao-btn-blue-darken.ao-btn-fbg:focus:after {
  background-color: #004971;
}
.ao-btn-blue-darken:hover:after,
.ao-btn-blue-darken.ao-btn-w:hover:after,
.ao-btn-blue-darken:focus:after,
.ao-btn-blue-darken.ao-btn-w:focus:after,
.ao-btn-blue-darken:active:after,
.ao-btn-blue-darken.ao-btn-w:active:after {
  background-color: #002f48;
}
.ao-btn-blue-darken.ao-btn-w,
.ao-btn-blue-darken.ao-btn-wfb,
.ao-btn-blue-darken.ao-btn-bb,
.ao-btn-blue-darken.ao-btn-fbg,
.ao-btn-blue-darken.ao-btn-wfbg:hover,
.ao-btn-blue-darken.ao-btn-wfbg:focus,
.ao-btn-blue-darken.ao-btn-bo,
.ao-blue-link:hover,
.ao-blue-link:focus {
  color: #004971;
}
.ao-btn-blue-darken.ao-btn-b:after,
.ao-btn-blue-darken.ao-btn-bb:hover:after,
.ao-btn-blue-darken.ao-btn-bb:focus:after,
.ao-btn-blue-darken.ao-btn-bo:hover:after,
.ao-btn-blue-darken.ao-btn-bo:focus:after,
.ao-btn-blue-darken.ao-btn-wbo:hover:after,
.ao-btn-blue-darken.ao-btn-wbo:focus:after {
  border-color: #0098eb;
}
.ao-btn-blue-darken.ao-btn-bo:hover,
.ao-btn-blue-darken.ao-btn-bo:focus,
.ao-btn-blue-darken.ao-btn-wbo:hover,
.ao-btn-blue-darken.ao-btn-wbo:focus {
  color: #0098eb;
}
.ao-text-blue {
  color: #0071ae;
}
.ao-bg-blue {
  background-color: #0071ae;
}
.ao-border-blue {
  border-color: #0071ae;
}
.ao-text-blue-lighten {
  color: #0099eb;
}
.ao-bg-blue-lighten {
  background-color: #0099eb;
}
.ao-border-blue-lighten {
  border-color: #0099eb;
}
.ao-text-blue-darken {
  color: #004971;
}
.ao-bg-blue-darken {
  background-color: #004971;
}
.ao-border-blue-darken {
  border-color: #004971;
}
.ao-btn-red:after,
.ao-btn-red.ao-btn-bb:hover:after,
.ao-btn-red.ao-btn-bb:focus:after,
.ao-btn-red.ao-btn-wbb:hover:after,
.ao-btn-red.ao-btn-wbb:focus:after,
.ao-btn-red.ao-btn-fbg:hover:after,
.ao-btn-red.ao-btn-fbg:focus:after {
  background-color: #bc0010;
}
.ao-btn-red:hover:after,
.ao-btn-red.ao-btn-w:hover:after,
.ao-btn-red:focus:after,
.ao-btn-red.ao-btn-w:focus:after,
.ao-btn-red:active:after,
.ao-btn-red.ao-btn-w:active:after {
  background-color: #93000d;
}
.ao-btn-red.ao-btn-w,
.ao-btn-red.ao-btn-wfb,
.ao-btn-red.ao-btn-bb,
.ao-btn-red.ao-btn-fbg,
.ao-btn-red.ao-btn-wfbg:hover,
.ao-btn-red.ao-btn-wfbg:focus,
.ao-btn-red.ao-btn-bo,
.ao-red-link {
  color: #bc0010;
}
.ao-btn-red.ao-btn-b:after,
.ao-btn-red.ao-btn-bb:hover:after,
.ao-btn-red.ao-btn-bb:focus:after,
.ao-btn-red.ao-btn-bo:hover:after,
.ao-btn-red.ao-btn-bo:focus:after,
.ao-btn-red.ao-btn-wbo:hover:after,
.ao-btn-red.ao-btn-wbo:focus:after {
  border-color: #ff3748;
}
.ao-btn-red.ao-btn-bo:hover,
.ao-btn-red.ao-btn-bo:focus,
.ao-btn-red.ao-btn-wbo:hover,
.ao-btn-red.ao-btn-wbo:focus {
  color: #ff3748;
}
.ao-btn-red-lighten:after,
.ao-btn-red-lighten.ao-btn-bb:hover:after,
.ao-btn-red-lighten.ao-btn-bb:focus:after,
.ao-btn-red-lighten.ao-btn-wbb:hover:after,
.ao-btn-red-lighten.ao-btn-wbb:focus:after,
.ao-btn-red-lighten.ao-btn-fbg:hover:after,
.ao-btn-red-lighten.ao-btn-fbg:focus:after {
  background-color: #f90015;
}
.ao-btn-red-lighten:hover:after,
.ao-btn-red-lighten.ao-btn-w:hover:after,
.ao-btn-red-lighten:focus:after,
.ao-btn-red-lighten.ao-btn-w:focus:after,
.ao-btn-red-lighten:active:after,
.ao-btn-red-lighten.ao-btn-w:active:after {
  background-color: #d00012;
}
.ao-btn-red-lighten.ao-btn-w,
.ao-btn-red-lighten.ao-btn-wfb,
.ao-btn-red-lighten.ao-btn-bb,
.ao-btn-red-lighten.ao-btn-fbg,
.ao-btn-red-lighten.ao-btn-wfbg:hover,
.ao-btn-red-lighten.ao-btn-wfbg:focus,
.ao-btn-red-lighten.ao-btn-bo {
  color: #f90015;
}
.ao-btn-red-lighten.ao-btn-b:after,
.ao-btn-red-lighten.ao-btn-bb:hover:after,
.ao-btn-red-lighten.ao-btn-bb:focus:after,
.ao-btn-red-lighten.ao-btn-bo:hover:after,
.ao-btn-red-lighten.ao-btn-bo:focus:after,
.ao-btn-red-lighten.ao-btn-wbo:hover:after,
.ao-btn-red-lighten.ao-btn-wbo:focus:after {
  border-color: #ff7480;
}
.ao-btn-red-lighten.ao-btn-bo:hover,
.ao-btn-red-lighten.ao-btn-bo:focus,
.ao-btn-red-lighten.ao-btn-wbo:hover,
.ao-btn-red-lighten.ao-btn-wbo:focus {
  color: #ff7480;
}
.ao-btn-red-darken:after,
.ao-btn-red-darken.ao-btn-bb:hover:after,
.ao-btn-red-darken.ao-btn-bb:focus:after,
.ao-btn-red-darken.ao-btn-wbb:hover:after,
.ao-btn-red-darken.ao-btn-wbb:focus:after,
.ao-btn-red-darken.ao-btn-fbg:hover:after,
.ao-btn-red-darken.ao-btn-fbg:focus:after {
  background-color: #7f000b;
}
.ao-btn-red-darken:hover:after,
.ao-btn-red-darken.ao-btn-w:hover:after,
.ao-btn-red-darken:focus:after,
.ao-btn-red-darken.ao-btn-w:focus:after,
.ao-btn-red-darken:active:after,
.ao-btn-red-darken.ao-btn-w:active:after {
  background-color: #560007;
}
.ao-btn-red-darken.ao-btn-w,
.ao-btn-red-darken.ao-btn-wfb,
.ao-btn-red-darken.ao-btn-bb,
.ao-btn-red-darken.ao-btn-fbg,
.ao-btn-red-darken.ao-btn-wfbg:hover,
.ao-btn-red-darken.ao-btn-wfbg:focus,
.ao-btn-red-darken.ao-btn-bo,
.ao-red-link:hover,
.ao-red-link:focus {
  color: #7f000b;
}
.ao-btn-red-darken.ao-btn-b:after,
.ao-btn-red-darken.ao-btn-bb:hover:after,
.ao-btn-red-darken.ao-btn-bb:focus:after,
.ao-btn-red-darken.ao-btn-bo:hover:after,
.ao-btn-red-darken.ao-btn-bo:focus:after,
.ao-btn-red-darken.ao-btn-wbo:hover:after,
.ao-btn-red-darken.ao-btn-wbo:focus:after {
  border-color: #f90016;
}
.ao-btn-red-darken.ao-btn-bo:hover,
.ao-btn-red-darken.ao-btn-bo:focus,
.ao-btn-red-darken.ao-btn-wbo:hover,
.ao-btn-red-darken.ao-btn-wbo:focus {
  color: #f90016;
}
.ao-text-red {
  color: #bc0010;
}
.ao-bg-red {
  background-color: #bc0010;
}
.ao-border-red {
  border-color: #bc0010;
}
.ao-text-red-lighten {
  color: #f90015;
}
.ao-bg-red-lighten {
  background-color: #f90015;
}
.ao-border-red-lighten {
  border-color: #f90015;
}
.ao-text-red-darken {
  color: #7f000b;
}
.ao-bg-red-darken {
  background-color: #7f000b;
}
.ao-border-red-darken {
  border-color: #7f000b;
}
.ao-btn-green:after,
.ao-btn-green.ao-btn-bb:hover:after,
.ao-btn-green.ao-btn-bb:focus:after,
.ao-btn-green.ao-btn-wbb:hover:after,
.ao-btn-green.ao-btn-wbb:focus:after,
.ao-btn-green.ao-btn-fbg:hover:after,
.ao-btn-green.ao-btn-fbg:focus:after {
  background-color: #39a74a;
}
.ao-btn-green:hover:after,
.ao-btn-green.ao-btn-w:hover:after,
.ao-btn-green:focus:after,
.ao-btn-green.ao-btn-w:focus:after,
.ao-btn-green:active:after,
.ao-btn-green.ao-btn-w:active:after {
  background-color: #2f893d;
}
.ao-btn-green.ao-btn-w,
.ao-btn-green.ao-btn-wfb,
.ao-btn-green.ao-btn-bb,
.ao-btn-green.ao-btn-fbg,
.ao-btn-green.ao-btn-wfbg:hover,
.ao-btn-green.ao-btn-wfbg:focus,
.ao-btn-green.ao-btn-bo,
.ao-green-link {
  color: #39a74a;
}
.ao-btn-green.ao-btn-b:after,
.ao-btn-green.ao-btn-bb:hover:after,
.ao-btn-green.ao-btn-bb:focus:after,
.ao-btn-green.ao-btn-bo:hover:after,
.ao-btn-green.ao-btn-bo:focus:after,
.ao-btn-green.ao-btn-wbo:hover:after,
.ao-btn-green.ao-btn-wbo:focus:after {
  border-color: #85d591;
}
.ao-btn-green.ao-btn-bo:hover,
.ao-btn-green.ao-btn-bo:focus,
.ao-btn-green.ao-btn-wbo:hover,
.ao-btn-green.ao-btn-wbo:focus {
  color: #85d591;
}
.ao-btn-green-lighten:after,
.ao-btn-green-lighten.ao-btn-bb:hover:after,
.ao-btn-green-lighten.ao-btn-bb:focus:after,
.ao-btn-green-lighten.ao-btn-wbb:hover:after,
.ao-btn-green-lighten.ao-btn-wbb:focus:after,
.ao-btn-green-lighten.ao-btn-fbg:hover:after,
.ao-btn-green-lighten.ao-btn-fbg:focus:after {
  background-color: #57c668;
}
.ao-btn-green-lighten:hover:after,
.ao-btn-green-lighten.ao-btn-w:hover:after,
.ao-btn-green-lighten:focus:after,
.ao-btn-green-lighten.ao-btn-w:focus:after,
.ao-btn-green-lighten:active:after,
.ao-btn-green-lighten.ao-btn-w:active:after {
  background-color: #3eb650;
}
.ao-btn-green-lighten.ao-btn-w,
.ao-btn-green-lighten.ao-btn-wfb,
.ao-btn-green-lighten.ao-btn-bb,
.ao-btn-green-lighten.ao-btn-fbg,
.ao-btn-green-lighten.ao-btn-wfbg:hover,
.ao-btn-green-lighten.ao-btn-wfbg:focus,
.ao-btn-green-lighten.ao-btn-bo {
  color: #57c668;
}
.ao-btn-green-lighten.ao-btn-b:after,
.ao-btn-green-lighten.ao-btn-bb:hover:after,
.ao-btn-green-lighten.ao-btn-bb:focus:after,
.ao-btn-green-lighten.ao-btn-bo:hover:after,
.ao-btn-green-lighten.ao-btn-bo:focus:after,
.ao-btn-green-lighten.ao-btn-wbo:hover:after,
.ao-btn-green-lighten.ao-btn-wbo:focus:after {
  border-color: #b2e5ba;
}
.ao-btn-green-lighten.ao-btn-bo:hover,
.ao-btn-green-lighten.ao-btn-bo:focus,
.ao-btn-green-lighten.ao-btn-wbo:hover,
.ao-btn-green-lighten.ao-btn-wbo:focus {
  color: #b2e5ba;
}
.ao-btn-green-darken:after,
.ao-btn-green-darken.ao-btn-bb:hover:after,
.ao-btn-green-darken.ao-btn-bb:focus:after,
.ao-btn-green-darken.ao-btn-wbb:hover:after,
.ao-btn-green-darken.ao-btn-wbb:focus:after,
.ao-btn-green-darken.ao-btn-fbg:hover:after,
.ao-btn-green-darken.ao-btn-fbg:focus:after {
  background-color: #297936;
}
.ao-btn-green-darken:hover:after,
.ao-btn-green-darken.ao-btn-w:hover:after,
.ao-btn-green-darken:focus:after,
.ao-btn-green-darken.ao-btn-w:focus:after,
.ao-btn-green-darken:active:after,
.ao-btn-green-darken.ao-btn-w:active:after {
  background-color: #1f5b28;
}
.ao-btn-green-darken.ao-btn-w,
.ao-btn-green-darken.ao-btn-wfb,
.ao-btn-green-darken.ao-btn-bb,
.ao-btn-green-darken.ao-btn-fbg,
.ao-btn-green-darken.ao-btn-wfbg:hover,
.ao-btn-green-darken.ao-btn-wfbg:focus,
.ao-btn-green-darken.ao-btn-bo,
.ao-green-link:hover,
.ao-green-link:focus {
  color: #297936;
}
.ao-btn-green-darken.ao-btn-b:after,
.ao-btn-green-darken.ao-btn-bb:hover:after,
.ao-btn-green-darken.ao-btn-bb:focus:after,
.ao-btn-green-darken.ao-btn-bo:hover:after,
.ao-btn-green-darken.ao-btn-bo:focus:after,
.ao-btn-green-darken.ao-btn-wbo:hover:after,
.ao-btn-green-darken.ao-btn-wbo:focus:after {
  border-color: #56c669;
}
.ao-btn-green-darken.ao-btn-bo:hover,
.ao-btn-green-darken.ao-btn-bo:focus,
.ao-btn-green-darken.ao-btn-wbo:hover,
.ao-btn-green-darken.ao-btn-wbo:focus {
  color: #56c669;
}
.ao-text-green {
  color: #39a74a;
}
.ao-bg-green {
  background-color: #39a74a;
}
.ao-border-green {
  border-color: #39a74a;
}
.ao-text-green-lighten {
  color: #57c668;
}
.ao-bg-green-lighten {
  background-color: #57c668;
}
.ao-border-green-lighten {
  border-color: #57c668;
}
.ao-text-green-darken {
  color: #297936;
}
.ao-bg-green-darken {
  background-color: #297936;
}
.ao-border-green-darken {
  border-color: #297936;
}
.ao-btn-black:after,
.ao-btn-black.ao-btn-bb:hover:after,
.ao-btn-black.ao-btn-bb:focus:after,
.ao-btn-black.ao-btn-wbb:hover:after,
.ao-btn-black.ao-btn-wbb:focus:after,
.ao-btn-black.ao-btn-fbg:hover:after,
.ao-btn-black.ao-btn-fbg:focus:after {
  background-color: #333;
}
.ao-btn-black:hover:after,
.ao-btn-black.ao-btn-w:hover:after,
.ao-btn-black:focus:after,
.ao-btn-black.ao-btn-w:focus:after,
.ao-btn-black:active:after,
.ao-btn-black.ao-btn-w:active:after {
  background-color: #1f1f1f;
}
.ao-btn-black.ao-btn-w,
.ao-btn-black.ao-btn-wfb,
.ao-btn-black.ao-btn-bb,
.ao-btn-black.ao-btn-fbg,
.ao-btn-black.ao-btn-wfbg:hover,
.ao-btn-black.ao-btn-wfbg:focus,
.ao-btn-black.ao-btn-bo,
.ao-black-link {
  color: #333;
}
.ao-btn-black.ao-btn-b:after,
.ao-btn-black.ao-btn-bb:hover:after,
.ao-btn-black.ao-btn-bb:focus:after,
.ao-btn-black.ao-btn-bo:hover:after,
.ao-btn-black.ao-btn-bo:focus:after,
.ao-btn-black.ao-btn-wbo:hover:after,
.ao-btn-black.ao-btn-wbo:focus:after {
  border-color: #707070;
}
.ao-btn-black.ao-btn-bo:hover,
.ao-btn-black.ao-btn-bo:focus,
.ao-btn-black.ao-btn-wbo:hover,
.ao-btn-black.ao-btn-wbo:focus {
  color: #707070;
}
.ao-btn-black-lighten:after,
.ao-btn-black-lighten.ao-btn-bb:hover:after,
.ao-btn-black-lighten.ao-btn-bb:focus:after,
.ao-btn-black-lighten.ao-btn-wbb:hover:after,
.ao-btn-black-lighten.ao-btn-wbb:focus:after,
.ao-btn-black-lighten.ao-btn-fbg:hover:after,
.ao-btn-black-lighten.ao-btn-fbg:focus:after {
  background-color: #525252;
}
.ao-btn-black-lighten:hover:after,
.ao-btn-black-lighten.ao-btn-w:hover:after,
.ao-btn-black-lighten:focus:after,
.ao-btn-black-lighten.ao-btn-w:focus:after,
.ao-btn-black-lighten:active:after,
.ao-btn-black-lighten.ao-btn-w:active:after {
  background-color: #3e3e3e;
}
.ao-btn-black-lighten.ao-btn-w,
.ao-btn-black-lighten.ao-btn-wfb,
.ao-btn-black-lighten.ao-btn-bb,
.ao-btn-black-lighten.ao-btn-fbg,
.ao-btn-black-lighten.ao-btn-wfbg:hover,
.ao-btn-black-lighten.ao-btn-wfbg:focus,
.ao-btn-black-lighten.ao-btn-bo {
  color: #525252;
}
.ao-btn-black-lighten.ao-btn-b:after,
.ao-btn-black-lighten.ao-btn-bb:hover:after,
.ao-btn-black-lighten.ao-btn-bb:focus:after,
.ao-btn-black-lighten.ao-btn-bo:hover:after,
.ao-btn-black-lighten.ao-btn-bo:focus:after,
.ao-btn-black-lighten.ao-btn-wbo:hover:after,
.ao-btn-black-lighten.ao-btn-wbo:focus:after {
  border-color: #8f8f8f;
}
.ao-btn-black-lighten.ao-btn-bo:hover,
.ao-btn-black-lighten.ao-btn-bo:focus,
.ao-btn-black-lighten.ao-btn-wbo:hover,
.ao-btn-black-lighten.ao-btn-wbo:focus {
  color: #8f8f8f;
}
.ao-btn-black-darken:after,
.ao-btn-black-darken.ao-btn-bb:hover:after,
.ao-btn-black-darken.ao-btn-bb:focus:after,
.ao-btn-black-darken.ao-btn-wbb:hover:after,
.ao-btn-black-darken.ao-btn-wbb:focus:after,
.ao-btn-black-darken.ao-btn-fbg:hover:after,
.ao-btn-black-darken.ao-btn-fbg:focus:after {
  background-color: #141414;
}
.ao-btn-black-darken:hover:after,
.ao-btn-black-darken.ao-btn-w:hover:after,
.ao-btn-black-darken:focus:after,
.ao-btn-black-darken.ao-btn-w:focus:after,
.ao-btn-black-darken:active:after,
.ao-btn-black-darken.ao-btn-w:active:after {
  background-color: #000;
}
.ao-btn-black-darken.ao-btn-w,
.ao-btn-black-darken.ao-btn-wfb,
.ao-btn-black-darken.ao-btn-bb,
.ao-btn-black-darken.ao-btn-fbg,
.ao-btn-black-darken.ao-btn-wfbg:hover,
.ao-btn-black-darken.ao-btn-wfbg:focus,
.ao-btn-black-darken.ao-btn-bo,
.ao-black-link:hover,
.ao-black-link:focus {
  color: #141414;
}
.ao-btn-black-darken.ao-btn-b:after,
.ao-btn-black-darken.ao-btn-bb:hover:after,
.ao-btn-black-darken.ao-btn-bb:focus:after,
.ao-btn-black-darken.ao-btn-bo:hover:after,
.ao-btn-black-darken.ao-btn-bo:focus:after,
.ao-btn-black-darken.ao-btn-wbo:hover:after,
.ao-btn-black-darken.ao-btn-wbo:focus:after {
  border-color: #515151;
}
.ao-btn-black-darken.ao-btn-bo:hover,
.ao-btn-black-darken.ao-btn-bo:focus,
.ao-btn-black-darken.ao-btn-wbo:hover,
.ao-btn-black-darken.ao-btn-wbo:focus {
  color: #515151;
}
.ao-text-black {
  color: #333;
}
.ao-bg-black {
  background-color: #333;
}
.ao-border-black {
  border-color: #333;
}
.ao-text-black-lighten {
  color: #525252;
}
.ao-bg-black-lighten {
  background-color: #525252;
}
.ao-border-black-lighten {
  border-color: #525252;
}
.ao-text-black-darken {
  color: #141414;
}
.ao-bg-black-darken {
  background-color: #141414;
}
.ao-border-black-darken {
  border-color: #141414;
}
.ao-btn-purple:after,
.ao-btn-purple.ao-btn-bb:hover:after,
.ao-btn-purple.ao-btn-bb:focus:after,
.ao-btn-purple.ao-btn-wbb:hover:after,
.ao-btn-purple.ao-btn-wbb:focus:after,
.ao-btn-purple.ao-btn-fbg:hover:after,
.ao-btn-purple.ao-btn-fbg:focus:after {
  background-color: #b161ab;
}
.ao-btn-purple:hover:after,
.ao-btn-purple.ao-btn-w:hover:after,
.ao-btn-purple:focus:after,
.ao-btn-purple.ao-btn-w:focus:after,
.ao-btn-purple:active:after,
.ao-btn-purple.ao-btn-w:active:after {
  background-color: #9c4d96;
}
.ao-btn-purple.ao-btn-w,
.ao-btn-purple.ao-btn-wfb,
.ao-btn-purple.ao-btn-bb,
.ao-btn-purple.ao-btn-fbg,
.ao-btn-purple.ao-btn-wfbg:hover,
.ao-btn-purple.ao-btn-wfbg:focus,
.ao-btn-purple.ao-btn-bo,
.ao-purple-link {
  color: #b161ab;
}
.ao-btn-purple.ao-btn-b:after,
.ao-btn-purple.ao-btn-bb:hover:after,
.ao-btn-purple.ao-btn-bb:focus:after,
.ao-btn-purple.ao-btn-bo:hover:after,
.ao-btn-purple.ao-btn-bo:focus:after,
.ao-btn-purple.ao-btn-wbo:hover:after,
.ao-btn-purple.ao-btn-wbo:focus:after {
  border-color: #d9b3d7;
}
.ao-btn-purple.ao-btn-bo:hover,
.ao-btn-purple.ao-btn-bo:focus,
.ao-btn-purple.ao-btn-wbo:hover,
.ao-btn-purple.ao-btn-wbo:focus {
  color: #d9b3d7;
}
.ao-btn-purple-lighten:after,
.ao-btn-purple-lighten.ao-btn-bb:hover:after,
.ao-btn-purple-lighten.ao-btn-bb:focus:after,
.ao-btn-purple-lighten.ao-btn-wbb:hover:after,
.ao-btn-purple-lighten.ao-btn-wbb:focus:after,
.ao-btn-purple-lighten.ao-btn-fbg:hover:after,
.ao-btn-purple-lighten.ao-btn-fbg:focus:after {
  background-color: #c58ac1;
}
.ao-btn-purple-lighten:hover:after,
.ao-btn-purple-lighten.ao-btn-w:hover:after,
.ao-btn-purple-lighten:focus:after,
.ao-btn-purple-lighten.ao-btn-w:focus:after,
.ao-btn-purple-lighten:active:after,
.ao-btn-purple-lighten.ao-btn-w:active:after {
  background-color: #b76fb3;
}
.ao-btn-purple-lighten.ao-btn-w,
.ao-btn-purple-lighten.ao-btn-wfb,
.ao-btn-purple-lighten.ao-btn-bb,
.ao-btn-purple-lighten.ao-btn-fbg,
.ao-btn-purple-lighten.ao-btn-wfbg:hover,
.ao-btn-purple-lighten.ao-btn-wfbg:focus,
.ao-btn-purple-lighten.ao-btn-bo {
  color: #c58ac1;
}
.ao-btn-purple-lighten.ao-btn-b:after,
.ao-btn-purple-lighten.ao-btn-bb:hover:after,
.ao-btn-purple-lighten.ao-btn-bb:focus:after,
.ao-btn-purple-lighten.ao-btn-bo:hover:after,
.ao-btn-purple-lighten.ao-btn-bo:focus:after,
.ao-btn-purple-lighten.ao-btn-wbo:hover:after,
.ao-btn-purple-lighten.ao-btn-wbo:focus:after {
  border-color: #eedcec;
}
.ao-btn-purple-lighten.ao-btn-bo:hover,
.ao-btn-purple-lighten.ao-btn-bo:focus,
.ao-btn-purple-lighten.ao-btn-wbo:hover,
.ao-btn-purple-lighten.ao-btn-wbo:focus {
  color: #eedcec;
}
.ao-btn-purple-darken:after,
.ao-btn-purple-darken.ao-btn-bb:hover:after,
.ao-btn-purple-darken.ao-btn-bb:focus:after,
.ao-btn-purple-darken.ao-btn-wbb:hover:after,
.ao-btn-purple-darken.ao-btn-wbb:focus:after,
.ao-btn-purple-darken.ao-btn-fbg:hover:after,
.ao-btn-purple-darken.ao-btn-fbg:focus:after {
  background-color: #8e4689;
}
.ao-btn-purple-darken:hover:after,
.ao-btn-purple-darken.ao-btn-w:hover:after,
.ao-btn-purple-darken:focus:after,
.ao-btn-purple-darken.ao-btn-w:focus:after,
.ao-btn-purple-darken:active:after,
.ao-btn-purple-darken.ao-btn-w:active:after {
  background-color: #73396f;
}
.ao-btn-purple-darken.ao-btn-w,
.ao-btn-purple-darken.ao-btn-wfb,
.ao-btn-purple-darken.ao-btn-bb,
.ao-btn-purple-darken.ao-btn-fbg,
.ao-btn-purple-darken.ao-btn-wfbg:hover,
.ao-btn-purple-darken.ao-btn-wfbg:focus,
.ao-btn-purple-darken.ao-btn-bo,
.ao-purple-link:hover,
.ao-purple-link:focus {
  color: #8e4689;
}
.ao-btn-purple-darken.ao-btn-b:after,
.ao-btn-purple-darken.ao-btn-bb:hover:after,
.ao-btn-purple-darken.ao-btn-bb:focus:after,
.ao-btn-purple-darken.ao-btn-bo:hover:after,
.ao-btn-purple-darken.ao-btn-bo:focus:after,
.ao-btn-purple-darken.ao-btn-wbo:hover:after,
.ao-btn-purple-darken.ao-btn-wbo:focus:after {
  border-color: #c589c1;
}
.ao-btn-purple-darken.ao-btn-bo:hover,
.ao-btn-purple-darken.ao-btn-bo:focus,
.ao-btn-purple-darken.ao-btn-wbo:hover,
.ao-btn-purple-darken.ao-btn-wbo:focus {
  color: #c589c1;
}
.ao-text-purple {
  color: #b161ab;
}
.ao-bg-purple {
  background-color: #b161ab;
}
.ao-border-purple {
  border-color: #b161ab;
}
.ao-text-purple-lighten {
  color: #c58ac1;
}
.ao-bg-purple-lighten {
  background-color: #c58ac1;
}
.ao-border-purple-lighten {
  border-color: #c58ac1;
}
.ao-text-purple-darken {
  color: #8e4689;
}
.ao-bg-purple-darken {
  background-color: #8e4689;
}
.ao-border-purple-darken {
  border-color: #8e4689;
}
