/*! aRund v.1.7.5 - 2017-04-02 */

.ao-colorful-scheme-red,
.ao-colorful-scheme-red .ao-text-default,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-w:hover,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-w:focus,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-w:active,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb:hover,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb:focus,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb:active,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fbg:hover,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fbg:focus,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fbg:active,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-w:hover,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-w:focus,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-w:active,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb:hover,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb:focus,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb:active,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fbg:hover,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fbg:focus,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fbg:active,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-w:hover,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-w:focus,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-w:active,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb:hover,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb:focus,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb:active,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fbg:hover,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fbg:focus,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fbg:active,
.ao-colorful-scheme-red .ao-scheme-close-btn:hover,
.ao-colorful-scheme-red .ao-scheme-close-btn:focus {
  color: #fff;
}
.ao-colorful-scheme-red .ao-bg {
  background-color: #bc0010;
}
.ao-colorful-scheme-red .ao-bg-alt,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-w:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfb:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfbg:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfbg:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfbg:active:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-w:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfb:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfbg:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfbg:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfbg:active:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-w:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfb:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfbg:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfbg:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfbg:active:after {
  background-color: #fff;
}
.ao-colorful-scheme-red .ao-bg-darken {
  background-color: #93000d;
}
.ao-colorful-scheme-red .ao-bg-lighten,
.ao-colorful-scheme-red .ao-scheme-close-btn {
  background-color: #e50013;
}
.ao-colorful-scheme-red .ao-scheme-bg,
.ao-colorful-scheme-red .ao-scheme-btn:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbb:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbb:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fbg:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fbg:focus:after {
  background-color: #ce0006;
}
.ao-colorful-scheme-red .ao-text-muted {
  color: #ffc2c7;
}
.ao-colorful-scheme-red .ao-text-darken,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-w,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfb,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fbg,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfbg:hover,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfbg:focus,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo {
  color: #910004;
}
.ao-colorful-scheme-red .ao-text-lighten,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo:hover,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo:focus,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbo:hover,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbo:focus,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-w,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfb,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fbg,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfbg:hover,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfbg:focus,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo {
  color: #ff0c13;
}
.ao-colorful-scheme-red .ao-text-colored,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-w,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfb,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fbg,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfbg:hover,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfbg:focus,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo,
.ao-colorful-scheme-red .ao-colored-link {
  color: #ce0006;
}
.ao-colorful-scheme-red .ao-scheme-btn:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-w:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-w:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn:active:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-w:active:after {
  background-color: #a50005;
}
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-b:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbo:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbo:focus:after {
  border-color: #ff494f;
}
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo:hover,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo:focus,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbo:hover,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbo:focus {
  color: #ff494f;
}
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fb:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fb:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fb:after {
  background-color: false;
}
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fb:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fb:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fb:active:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfb:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfb:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfb:active:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bb:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbb:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-fbg:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wfbg:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbo:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbo:hover:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbo:focus:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-bo:active:after,
.ao-colorful-scheme-red .ao-scheme-btn.ao-btn-wbo:active:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fb:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fb:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fb:active:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfb:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfb:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfb:active:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbb:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fbg:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wfbg:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbo:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbo:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbo:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo:active:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbo:active:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fb:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fb:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fb:active:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfb:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfb:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfb:active:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbb:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fbg:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wfbg:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbo:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbo:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbo:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo:active:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbo:active:after {
  background-color: transparent;
}
.ao-colorful-scheme-red .ao-btn-darken:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbb:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbb:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fbg:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-fbg:focus:after {
  background-color: #910004;
}
.ao-colorful-scheme-red .ao-btn-darken:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-w:hover:after,
.ao-colorful-scheme-red .ao-btn-darken:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-w:focus:after,
.ao-colorful-scheme-red .ao-btn-darken:active:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-w:active:after {
  background-color: #680003;
}
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-b:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bb:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-bo:focus:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbo:hover:after,
.ao-colorful-scheme-red .ao-btn-darken.ao-btn-wbo:focus:after {
  border-color: #ff0c13;
}
.ao-colorful-scheme-red .ao-btn-lighten:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbb:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbb:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fbg:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-fbg:focus:after {
  background-color: #ff0c13;
}
.ao-colorful-scheme-red .ao-btn-lighten:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-w:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-w:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten:active:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-w:active:after {
  background-color: #e20007;
}
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-b:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bb:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo:focus:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbo:hover:after,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbo:focus:after {
  border-color: #ff868a;
}
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo:hover,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-bo:focus,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbo:hover,
.ao-colorful-scheme-red .ao-btn-lighten.ao-btn-wbo:focus {
  color: #ff868a;
}
.ao-colorful-scheme-red .ao-scheme-close-btn {
  color: #ffc2c7;
}
