/*! aRund v.1.7.3 - 2017-01-20 */

.ao-colorful-scheme-blue,
.ao-colorful-scheme-blue .ao-text-default,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-w:hover,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-w:focus,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-w:active,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb:hover,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb:focus,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb:active,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fbg:hover,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fbg:focus,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fbg:active,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-w:hover,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-w:focus,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-w:active,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb:hover,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb:focus,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb:active,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fbg:hover,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fbg:focus,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fbg:active,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-w:hover,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-w:focus,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-w:active,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb:hover,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb:focus,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb:active,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fbg:hover,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fbg:focus,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fbg:active,
.ao-colorful-scheme-blue .ao-scheme-close-btn:hover,
.ao-colorful-scheme-blue .ao-scheme-close-btn:focus {
  color: #fff;
}
.ao-colorful-scheme-blue .ao-bg {
  background-color: #0071ae;
}
.ao-colorful-scheme-blue .ao-bg-alt,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-w:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfb:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfbg:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfbg:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfbg:active:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-w:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfb:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfbg:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfbg:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfbg:active:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-w:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfb:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfbg:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfbg:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfbg:active:after {
  background-color: #fff;
}
.ao-colorful-scheme-blue .ao-bg-darken {
  background-color: #005785;
}
.ao-colorful-scheme-blue .ao-bg-lighten,
.ao-colorful-scheme-blue .ao-scheme-close-btn {
  background-color: #008bd7;
}
.ao-colorful-scheme-blue .ao-scheme-bg,
.ao-colorful-scheme-blue .ao-scheme-btn:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbb:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbb:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fbg:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fbg:focus:after {
  background-color: #0022c0;
}
.ao-colorful-scheme-blue .ao-text-muted {
  color: #c2eaff;
}
.ao-colorful-scheme-blue .ao-text-darken,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-w,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfb,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fbg,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfbg:hover,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfbg:focus,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo {
  color: #001783;
}
.ao-colorful-scheme-blue .ao-text-lighten,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-w,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfb,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fbg,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfbg:hover,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfbg:focus,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo {
  color: #002dfd;
}
.ao-colorful-scheme-blue .ao-text-colored,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-w,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfb,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fbg,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfbg:hover,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfbg:focus,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo,
.ao-colorful-scheme-blue .ao-colored-link {
  color: #0022c0;
}
.ao-colorful-scheme-blue .ao-scheme-btn:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-w:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-w:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn:active:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-w:active:after {
  background-color: #001b97;
}
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-b:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbo:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbo:focus:after {
  border-color: #3b5eff;
}
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo:hover,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo:focus,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbo:hover,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbo:focus {
  color: #3b5eff;
}
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fb:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fb:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fb:after {
  background-color: false;
}
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fb:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fb:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fb:active:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfb:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfb:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfb:active:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bb:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbb:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-fbg:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wfbg:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbo:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbo:hover:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbo:focus:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-bo:active:after,
.ao-colorful-scheme-blue .ao-scheme-btn.ao-btn-wbo:active:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fb:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fb:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fb:active:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfb:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfb:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfb:active:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbb:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fbg:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wfbg:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbo:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbo:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbo:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo:active:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbo:active:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fb:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fb:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fb:active:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfb:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfb:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfb:active:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbb:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fbg:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wfbg:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbo:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbo:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbo:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo:active:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbo:active:after {
  background-color: transparent;
}
.ao-colorful-scheme-blue .ao-btn-darken:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbb:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbb:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fbg:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-fbg:focus:after {
  background-color: #001783;
}
.ao-colorful-scheme-blue .ao-btn-darken:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-w:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-w:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken:active:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-w:active:after {
  background-color: #00105a;
}
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-b:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bb:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo:focus:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbo:hover:after,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbo:focus:after {
  border-color: #002cfd;
}
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo:hover,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-bo:focus,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbo:hover,
.ao-colorful-scheme-blue .ao-btn-darken.ao-btn-wbo:focus {
  color: #002cfd;
}
.ao-colorful-scheme-blue .ao-btn-lighten:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbb:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbb:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fbg:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-fbg:focus:after {
  background-color: #002dfd;
}
.ao-colorful-scheme-blue .ao-btn-lighten:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-w:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-w:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten:active:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-w:active:after {
  background-color: #0026d4;
}
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-b:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bb:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo:focus:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbo:hover:after,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbo:focus:after {
  border-color: #7890ff;
}
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo:hover,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-bo:focus,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbo:hover,
.ao-colorful-scheme-blue .ao-btn-lighten.ao-btn-wbo:focus {
  color: #7890ff;
}
.ao-colorful-scheme-blue .ao-scheme-close-btn {
  color: #c2eaff;
}
