/*! aRund v.1.7.5 - 2017-04-02 */

.ao-dark-scheme-blue,
.ao-dark-scheme-blue .ao-text-default,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-w:hover,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-w:focus,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-w:active,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb:hover,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb:focus,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb:active,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fbg:hover,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fbg:focus,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fbg:active,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-w:hover,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-w:focus,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-w:active,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb:hover,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb:focus,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb:active,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fbg:hover,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fbg:focus,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fbg:active,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-w:hover,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-w:focus,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-w:active,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb:hover,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb:focus,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb:active,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fbg:hover,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fbg:focus,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fbg:active,
.ao-dark-scheme-blue .ao-scheme-close-btn:hover,
.ao-dark-scheme-blue .ao-scheme-close-btn:focus {
  color: #fff;
}
.ao-dark-scheme-blue .ao-bg {
  background-color: #001a29;
}
.ao-dark-scheme-blue .ao-bg-alt,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-w:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfb:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfbg:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfbg:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfbg:active:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-w:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfb:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfbg:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfbg:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfbg:active:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-w:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfb:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfbg:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfbg:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfbg:active:after {
  background-color: #fff;
}
.ao-dark-scheme-blue .ao-bg-darken {
  background-color: #000d14;
}
.ao-dark-scheme-blue .ao-bg-lighten,
.ao-dark-scheme-blue .ao-scheme-close-btn {
  background-color: #00283d;
}
.ao-dark-scheme-blue .ao-scheme-bg,
.ao-dark-scheme-blue .ao-scheme-btn:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbb:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbb:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fbg:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fbg:focus:after {
  background-color: #0071ae;
}
.ao-dark-scheme-blue .ao-text-muted {
  color: #8b8b8b;
}
.ao-dark-scheme-blue .ao-text-darken,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-w,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfb,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fbg,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfbg:hover,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfbg:focus,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo {
  color: #004971;
}
.ao-dark-scheme-blue .ao-text-lighten,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-w,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfb,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fbg,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfbg:hover,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfbg:focus,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo {
  color: #0099eb;
}
.ao-dark-scheme-blue .ao-text-colored,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-w,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfb,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fbg,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfbg:hover,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfbg:focus,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo,
.ao-dark-scheme-blue .ao-colored-link {
  color: #0071ae;
}
.ao-dark-scheme-blue .ao-scheme-btn:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-w:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-w:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn:active:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-w:active:after {
  background-color: #005785;
}
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-b:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbo:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbo:focus:after {
  border-color: #29b4ff;
}
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo:hover,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo:focus,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbo:hover,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbo:focus {
  color: #29b4ff;
}
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fb:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fb:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fb:after {
  background-color: false;
}
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fb:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fb:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fb:active:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfb:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfb:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfb:active:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bb:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbb:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-fbg:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wfbg:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbo:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbo:hover:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbo:focus:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-bo:active:after,
.ao-dark-scheme-blue .ao-scheme-btn.ao-btn-wbo:active:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fb:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fb:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fb:active:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfb:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfb:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfb:active:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbb:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fbg:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wfbg:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbo:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbo:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbo:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo:active:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbo:active:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fb:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fb:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fb:active:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfb:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfb:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfb:active:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbb:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fbg:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wfbg:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbo:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbo:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbo:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo:active:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbo:active:after {
  background-color: transparent;
}
.ao-dark-scheme-blue .ao-btn-darken:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbb:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbb:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fbg:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-fbg:focus:after {
  background-color: #004971;
}
.ao-dark-scheme-blue .ao-btn-darken:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-w:hover:after,
.ao-dark-scheme-blue .ao-btn-darken:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-w:focus:after,
.ao-dark-scheme-blue .ao-btn-darken:active:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-w:active:after {
  background-color: #002f48;
}
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-b:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bb:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo:focus:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbo:hover:after,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbo:focus:after {
  border-color: #0098eb;
}
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo:hover,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-bo:focus,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbo:hover,
.ao-dark-scheme-blue .ao-btn-darken.ao-btn-wbo:focus {
  color: #0098eb;
}
.ao-dark-scheme-blue .ao-btn-lighten:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbb:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbb:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fbg:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-fbg:focus:after {
  background-color: #0099eb;
}
.ao-dark-scheme-blue .ao-btn-lighten:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-w:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-w:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten:active:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-w:active:after {
  background-color: #007ec2;
}
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-b:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bb:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo:focus:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbo:hover:after,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbo:focus:after {
  border-color: #66caff;
}
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo:hover,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-bo:focus,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbo:hover,
.ao-dark-scheme-blue .ao-btn-lighten.ao-btn-wbo:focus {
  color: #66caff;
}
.ao-dark-scheme-blue .ao-scheme-close-btn {
  color: #8b8b8b;
}
