/*! aRund v.1.7.3 - 2017-01-20 */

.ao-field-group {
  position: relative;
  color: #666;
}
.ao-field-group,
.ao-field-group * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ao-field-group + .ao-field-group {
  margin-top: 15px;
}
.ao-field-group label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 8px;
  font-weight: normal;
}
.ao-field-wrap {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}
.ao-field-wrap .ao-field-control {
  display: table-cell;
  float: left;
  width: 100%;
}
.ao-field-fake {
  background-color: #eee;
}
.ao-field-fake {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ao-field-control {
  background: transparent;
  border: 0 none;
  color: inherit;
  font-family: inherit;
  display: inline-block;
  height: 46px;
  line-height: 20px;
  padding: 12px;
  position: relative;
  font-size: 14px;
  margin: 0;
  z-index: 2;
  outline: 0 none;
}
.ao-field-control::-webkit-input-placeholder {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: inherit;
  font-size: inherit;
}
.ao-field-control::-moz-placeholder {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: inherit;
  font-size: inherit;
}
.ao-field-control:-moz-placeholder {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: inherit;
  font-size: inherit;
}
.ao-field-control:-ms-input-placeholder {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: inherit;
  font-size: inherit;
}
.ao-field-control[type="password"] {
  font-family: Helvetica, Arial, sans-serif;
}
textarea.ao-field-control {
  height: 112px;
  min-height: 46px;
  resize: vertical;
}
.ao-field-op-state {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.ao-field-wrap:hover .ao-field-op-state,
.ao-field-focus ~ .ao-field-op-state,
.ao-field-control:focus ~ .ao-field-op-state {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ao-field-icon {
  position: absolute;
  left: 0;
  top: 0;
}
.ao-field-icon,
.ao-select-arrow {
  font-size: 18px;
  width: 46px;
  height: 46px;
  line-height: 46px;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
}
.ao-field-icon,
.ao-select-arrow,
.ao-check-pin,
.ao-rating .ao-field-cancel {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.ao-has-icon {
  padding-left: 34px;
}
.ao-has-icon .ao-field-icon {
  position: absolute;
  left: 0;
  top: 0;
}
select.ao-field-control {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 46px;
}
select.ao-field-control[multiple],
select.ao-field-control[size] {
  height: auto;
  padding: 0;
}
select.ao-field-control option {
  line-height: 20px;
  padding: 3px 12px;
  color: #666;
}
.ao-select-arrow {
  position: absolute;
  top: 0;
  right: 0;
}
.ao-radio,
.ao-checkbox {
  white-space: nowrap;
}
.ao-radio label,
.ao-checkbox label {
  padding-left: 0;
  line-height: 24px;
  margin: 0;
  cursor: pointer;
}
.ao-label {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;
  top: 2px;
}
.ao-check-icon,
.ao-check-block {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}
.ao-check-icon + .ao-label {
  margin-left: 5px;
}
.ao-check-block {
  width: 24px;
  height: 24px;
  background-color: #eee;
}
.ao-check-pin {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  top: 4px;
  background-color: #ff8b00;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.ao-check-i {
  font-size: 18px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
[type="radio"] ~ .ao-check-icon .ao-check-block,
[type="radio"] ~ .ao-check-icon .ao-check-pin {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
label:hover .ao-check-pin,
label:hover .ao-check-i {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
:checked ~ .ao-check-icon .ao-check-pin,
:checked ~ .ao-check-icon .ao-check-i {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ao-checkbox [type="checkbox"],
.ao-radio [type="radio"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  margin: 0;
  width: 24px;
  height: 24px;
}
.ao-rating {
  zoom: 1;
  white-space: nowrap;
  position: relative;
}
.ao-rating:before,
.ao-rating:after {
  content: "";
  display: table;
}
.ao-rating:after {
  clear: both;
}
.ao-rating:hover .ao-field-cancel {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.ao-rating .ao-field-cancel {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  font-size: 70%;
}
.ao-rating label {
  float: right;
  cursor: pointer;
  margin: 0;
  padding: 0 2px;
  text-align: center;
}
.ao-rating .fa-thumbs-up,
.ao-rating .fa-thumbs-o-up {
  width: 20px;
}
.ao-rating .ao-rating-icon {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.ao-rating .ao-rating-active-icon {
  display: none;
}
.ao-rating input[type="radio"] ~ label:hover .ao-rating-icon,
.ao-rating input[type="radio"] ~ label:hover ~ label .ao-rating-icon,
.ao-rating [type="radio"]:checked ~ label .ao-rating-icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ao-rating input[type="radio"] ~ label:hover .ao-rating-active-icon,
.ao-rating input[type="radio"] ~ label:hover ~ label .ao-rating-active-icon,
.ao-rating [type="radio"]:checked ~ label .ao-rating-active-icon {
  display: inline-block;
}
.ao-rating input[type="radio"] ~ label:hover .ao-rating-active-icon + .ao-rating-icon,
.ao-rating input[type="radio"] ~ label:hover ~ label .ao-rating-active-icon + .ao-rating-icon,
.ao-rating [type="radio"]:checked ~ label .ao-rating-active-icon + .ao-rating-icon {
  display: none;
}
.ao-rating input[type="radio"] ~ label.ao-field-cancel:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ao-rating input[type="radio"] ~ label.ao-field-cancel:hover ~ label .ao-rating-icon,
.ao-rating .ao-rating-cancel:checked ~ label .ao-rating-icon,
.ao-rating *:hover [type="radio"] ~ label .ao-rating-icon {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.ao-rating input[type="radio"] ~ label.ao-field-cancel:hover ~ label .ao-rating-active-icon,
.ao-rating .ao-rating-cancel:checked ~ label .ao-rating-active-icon,
.ao-rating *:hover [type="radio"] ~ label .ao-rating-active-icon {
  display: none;
}
.ao-rating input[type="radio"] ~ label.ao-field-cancel:hover ~ label .ao-rating-active-icon + .ao-rating-icon,
.ao-rating .ao-rating-cancel:checked ~ label .ao-rating-active-icon + .ao-rating-icon,
.ao-rating *:hover [type="radio"] ~ label .ao-rating-active-icon + .ao-rating-icon {
  display: inline-block;
}
.ao-rating [type="radio"] {
  display: none;
}
