/*! aRund v.1.7.3 - 2017-01-20 */

.ao-font-allura {
  font-family: 'Allura', cursive;
}
.ao-font-allura > .ao-text-normal,
.ao-font-allura :not(.ao-ignore-font) .ao-text-normal,
.ao-font-allura > .ao-text-light,
.ao-font-allura :not(.ao-ignore-font) .ao-text-light,
.ao-font-allura > strong,
.ao-font-allura :not(.ao-ignore-font) strong,
.ao-font-allura > b,
.ao-font-allura :not(.ao-ignore-font) b,
.ao-font-allura > .ao-text-bold,
.ao-font-allura :not(.ao-ignore-font) .ao-text-bold {
  font-family: 'Allura', cursive;
}
.ao-font-allura > strong,
.ao-font-allura :not(.ao-ignore-font) strong,
.ao-font-allura > b,
.ao-font-allura :not(.ao-ignore-font) b,
.ao-font-allura > .ao-text-bold,
.ao-font-allura :not(.ao-ignore-font) .ao-text-bold {
  font-weight: bold;
}
.ao-font-allura > .ao-btn-link,
.ao-font-allura :not(.ao-ignore-font) .ao-btn-link,
.ao-font-allura > .ao-btn,
.ao-font-allura :not(.ao-ignore-font) .ao-btn {
  line-height: 48px;
}
.ao-font-allura > .ao-btn-sm,
.ao-font-allura :not(.ao-ignore-font) .ao-btn-sm {
  line-height: 34px;
}
.ao-font-allura > .ao-btn-md,
.ao-font-allura :not(.ao-ignore-font) .ao-btn-md {
  line-height: 58px;
}
.ao-font-allura > .ao-btn-lg,
.ao-font-allura :not(.ao-ignore-font) .ao-btn-lg {
  line-height: 74px;
}
.ao-font-allura > .ao-btn-xl,
.ao-font-allura :not(.ao-ignore-font) .ao-btn-xl {
  line-height: 100px;
}
.ao-allura-light,
.ao-allura-normal,
.ao-allura-bold {
  font-family: 'Allura', cursive !important;
}
